$fontSize: 9pt;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar-row {
  max-height: 35px;
}

mat-form-field {
  padding-right: 5px;

}

mat-form-field.full-width {
  width: 100%;
}

.chains {
  width: 100%;
  display: block;
}

.chains mat-card {
  display: inline-block;
}

mat-card {
  width: 30%;
  height: 20%;
  margin: 30px;
}

.example-card {
  max-width: 200px;
}


// mat-datepicker {
//   // .mat-calendar{

//     font-size: $fontSize;
//   // }
// }


.container {
  // background-color: whitesmoke;
  height: 100%;
  margin: 10px 150px 10px 150px;
}
